@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: mintcream;
    color: rgb(19, 18, 18);
    font-size: 16px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 15px;
    font-size: 48px;
}

h2 {
    text-align: center;
    font-size: 32px;
}

table {
    width: 1050px;
    margin: 15px auto;

}

p {
    width: 1000px;
    height: 100px;
    padding: 0 30px;
    margin: 15px 0;
    border-left: 5px solid blue;
    font-size: 20px;
    line-height: 100px;
    vertical-align: middle;
  }

p:hover {
    border-left: 5px solid green;
}

code {
    color: darkred;
}
